!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Ofertauto
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/fonts/flaticon.css"}/
    %link{rel: "stylesheet", href:"assets/css/animation.css"}/
    %link{rel: "stylesheet", href:"assets/css/animate.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
  %body
    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        -# .nav-top__header
        -#   .nav-top__content.d-flex.pl-4.pr-4.justify-content-between
        -#     .main-nav__contact
        -#       %a.mr-3{ href: 'tel:Ventas: 2 27723227', :target=> "_blank" }
        -#         %i.fa.fa-phone 
        -#         %span 123456789
        -#       %a{ href: 'mailto:ventas@recutex.cl', :target=> "_blank" }
        -#         %i.fa.fa-envelope
        -#         %span ventas@oferauto.cl
        -#     .main-nav__redes
        -#       .content-nav.icon-nav
        -#         %form
        -#           .search-wrapper
        -#             %input.search-input{:placeholder => "Search", :type => "text"}/
        -#             %i.fa.fa-search

        -#       -# %a{ href: 'https://www.facebook.com/Recutex-Ltda-2293271020692328/', :target=> "_blank" }
        -#       -#   %i.fa.fa-facebook 
        -#       -# %a{ href: 'https://www.instagram.com/recutex/', :target=> "_blank" }
        -#       -#   %i.fa.fa-instagram

        .content
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/logo.png"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Inicio
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "#"} Camas

                -#   %li
                -#     %a{:href => "#"} Colchones
                -#   %li
                -#     %a{:href => "#"} Veladores
    
              %li.dropdown.nav-item
                %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Servicios
                -# %ul.dropdown-menu
                -#   %li
                -#     %a{:href => "#"} Futones

                -#   %li
                -#     %a{:href => "#"} Sofas
                -#   %li
                -#     %a{:href => "#"} Sillones
              %li.nav-item
                %a.nav-link{:href => "#product"} Quiénes somos
              %li.nav-item
                %a.nav-link{:href => "#product"} Contacto
              %li.nav-item
                .content-nav.icon-nav
                  %form
                    .search-wrapper
                      %input.search-input{:placeholder => "Search", :type => "text"}/
                      %i.fa.fa-search
     
    .main-quotation
      .container
        .main-general__title
        .main-quotation__content
          .main

              
            .slider.slider-for-details
              %div
                .main-quatation__container
                  .main-quatation__item
                    .main-quatation__text
                      .main-quatation__title
                        %p Primera Oferta
                      .main-quatation__price
                        %span $85,000.00
                      .main-quatation__description
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      .main-quatation__details
                        %span Nuevo
                        %span 2019
                        %span Automatico
                        %span Rojo
                      .float-left.main-quatation__btn
                        %a.btn_custom.btn--medium.btn--filled{ :href=>"#"}
                          Ver
                  .main-quatation__item
                    .main-quatation__img
                      %img{ :src => "https://fotos.perfil.com/2018/07/01/trim/1140/641/1-fiat-argo-22.jpg"}/
              %div
                .main-quatation__container
                  .main-quatation__item
                    .main-quatation__text
                      .main-quatation__title
                        %p Segunda Oferta
                      .main-quatation__price
                        %span $85,000.00
                      .main-quatation__description
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      .main-quatation__details
                        %span Nuevo
                        %span 2019
                        %span Automatico
                        %span Blanco
                      .float-left.main-quatation__btn
                        %a.btn_custom.btn--medium.btn--filled{ :href=>"#"}
                          Ver
                  .main-quatation__item
                    .main-quatation__img
                      %img{ :src => "https://autoblog.com.ar/wp-content/uploads/2018/02/CRONOS1.jpg"}/
              %div
                .main-quatation__container
                  .main-quatation__item
                    .main-quatation__text
                      .main-quatation__title
                        %p Tercera Oferta
                      .main-quatation__price
                        %span $85,000.00
                      .main-quatation__description
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      .main-quatation__details
                        %span Nuevo
                        %span 2019
                        %span Automatico
                        %span Negro
                      .float-left.main-quatation__btn
                        %a.btn_custom.btn--medium.btn--filled{ :href=>"#"}
                          Ver
                  .main-quatation__item
                    .main-quatation__img
                      %img{ :src => "https://www.megautos.com/wp-content/uploads/2017/05/Fiat-Argo-HGT-Mopar-dinamica.jpg"}/
              %div
                .main-quatation__container
                  .main-quatation__item
                    .main-quatation__text
                      .main-quatation__title
                        %p Cuarta Oferta
                      .main-quatation__price
                        %span $85,000.00
                      .main-quatation__description
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      .main-quatation__details
                        %span Nuevo
                        %span 2019
                        %span Automatico
                        %span Gris
                      .float-left.main-quatation__btn
                        %a.btn_custom.btn--medium.btn--filled{ :href=>"#"}
                          Ver
                  .main-quatation__item
                    .main-quatation__img
                      %img{ :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyH3vBU_u2_8IRUVNyMwj_hjG0DGq3kTdxM6XL66zlDE2kNFHJ&s"}/
            .slider.slider-nav-details
              %div
                .main-quatation__img
                  %img{ :src => "https://fotos.perfil.com/2018/07/01/trim/1140/641/1-fiat-argo-22.jpg"}/
              %div
                .main-quatation__img
                  %img{ :src => "https://autoblog.com.ar/wp-content/uploads/2018/02/CRONOS1.jpg"}/
              %div
                .main-quatation__img
                  %img{ :src => "https://www.megautos.com/wp-content/uploads/2017/05/Fiat-Argo-HGT-Mopar-dinamica.jpg"}/
              %div
                .main-quatation__img
                  %img{ :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyH3vBU_u2_8IRUVNyMwj_hjG0DGq3kTdxM6XL66zlDE2kNFHJ&s"}/

   
      .container
        .main-general__title
          %p
            Los más buscados
        .main-products__content.main-buscado__content
          .main-products__item
            .main-products__box
              .main-products__img
                %img{ :src => "https://http2.mlstatic.com/fiat-cronos-0km-siena-retira-con-tu-auto-usado-o-45000-v--D_NQ_NP_793778-MLA31012222200_062019-F.jpg"}/
              .main-products__text
                .main-products__price
                  %span $85,000.00
                .main-products__title
                  %p Cayenne Models
                %hr.line/
                .main-products__details
                  %span Nuevo
                  %span 2019
                  %span Automatico
                  %span Gris
          .main-products__item
            .main-products__box
              .main-products__img
                %img{ :src => "https://upload.wikimedia.org/wikipedia/commons/1/16/Fiat_Cronos_1.8_16V_E.Torq_Precision.jpg"}/
              .main-products__text
                .main-products__price
                  %span $85,000.00
                .main-products__title
                  %p Cayenne Models
                %hr.line/
                .main-products__details
                  %span Nuevo
                  %span 2019
                  %span Automatico
                  %span Gris
          .main-products__item
            .main-products__box
              .main-products__img
                %img{ :src => "https://www.conduciendo.com/wp-content/uploads/2017/10/Fiat-Argo-171017-04.jpg"}/
              .main-products__text
                .main-products__price
                  %span $85,000.00
                .main-products__title
                  %p Cayenne Models
                %hr.line/
                .main-products__details
                  %span Nuevo
                  %span 2019
                  %span Automatico
                  %span Gris 
                  
    %footer.main-footer
      .container
        .row      
          .col-md-4
            %img#iso{:src => "assets/img/logo.png"}/
          .col-md-4
            %p Enlaces Principales
            %ul
              %li
                %a{:href => "#"} Servicios
              %li
                %a{:href => "#"} Quienes somos
              %li
                %a{:href => "#"} Contacto      
          .col-md-4
            %p Contactanos
            %ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-envelope{"aria-hidden" => "true"}
                    oferauto@contacto.com
              %li
                %a{:href => "#"} 
                  %i.fa.fa-phone{"aria-hidden" => "true"}
                    +01 123456

              -# %li
              -#   %a{:href => "#"} Contacto                
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}

